BASE_URL=https://demo.applitools.com
PARABANK_BASE_URL=https://parabank.parasoft.com/parabank/
PARABANK_ENABLE_SECURITY_PAYLOADS=false
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
ANDROID_DEVICE_UDIDS=emulator-5554,emulator-5556,emulator-5558
ANDROID_AVD_NAMES=Pixel_10_Pro_Fold,Pixel_10_Pro,Pixel_6
API_TOKEN=replace-me
